.headerTitle {
    background-image: radial-gradient(circle at 74.1% 21.28%, #ffdcca 0, #ffddc6 3.85%,
            #ffdfc3 7.69%, #ffe1c0 11.54%, #ffe3be 15.38%, #ffe5bc 19.23%, #fae7bc 23.08%,
            #f4e9bc 26.92%, #eeeabd 30.77%, #e7ecbf 34.62%, #e1eec1 38.46%, #daefc5 42.31%,
            #d4f1c8 46.15%, #cdf2cd 50%, #c7f3d2 53.85%, #c1f4d7 57.69%, #bbf5dd 61.54%,
            #b6f5e3 65.38%, #b2f5e9 69.23%, #aff5ef 73.08%, #adf5f5 76.92%, #acf5fb 80.77%,
            #acf4ff 84.62%, #adf4ff 88.46%, #b0f3ff 92.31%, #b3f1ff 96.15%, #b8f0ff 100%);
    color: black;
    align-items: center;
    display: flex;
    font: bold 3vmax "absoluteZero",
        sans-serif;
    height: 10vh;
    justify-content: center;
    text-align: center;
    text-shadow: 15px -10px 7px #2e2e2e;
}